<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>

<% 20.times do %>
  <p>paragraph</p>
<% end %>

<hr>

<div data-controller="reload"
     data-reload-url-value="/home/index"
     data-reload-required-value="false">
  Reload Div
</div>
